[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cryptography"]
	path = cryptography
	url = https://github.com/piarasfahey/cryptography
